<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <title>Movie Search App</title>
    <style>
        body{
            background-color:ghostwhite;
        }
    </style>
</head>
<body>
<!-- Image and text -->
    <div >
        <nav class="navbar navbar-light bg-primary">
            <div class="container">
                    <a class="navbar-brand" href="/">
                    <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                    Movie Search App <i class="fas fa-film"></i> 
                    </a>         
                    
            </div>
        </nav>
        
    </div>
