<%- include("partials/header")%>

<div class="container" style="margin: 23em 40em;">
    <h1>Movie you searched not found.</h1>
    <a href="/" type="button " class="btn btn-outline-info" style="margin-left:14em;margin-top: 2em; ">back to home</a> 
</div>


<%- include("partials/footer")%>