<%- include("partials/header")%>

<div class="jumbotron" style="margin:250px 600px" >
            <h1 style="text-align: center;">Search for a Movie</h1>
        
            <form action="/results" method="GET" style="margin-left: 85px; margin-top: 15px;" >
                <input type="text" placeholder="name" name="search" style="width:30em" class="form-control">
                <br>
                <input type="submit" class="btn btn-outline-primary btn-lg" style="margin-left: 9em;">
            </form>
        
           
            
</div>

<%- include("partials/footer")%>